:root {
  --color-primario: #9B00B5; /* Color morado */
  --color-secundario: #FF007F; /* Color rosa */
  --color-fondo: #F4F7FF; /* Fondo más suave */
  --color-texto: #212529; /* Texto oscuro */
  --fondo-encabezado-tabla: #6200EE; /* Encabezado de tabla */
  --color-encabezado-tabla: #FFFFFF; /* Texto blanco en encabezado */
  --fondo-fila-hover: #F1F1F1; /* Fondo al pasar el cursor */
  --fuente-principal: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fuente-principal);
  background: var(--color-fondo);
  color: var(--color-texto);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
}

button {
  border-radius: 5px;
  border: 1px solid var(--color-primario);
  padding: 0.5em 1em;
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--color-primario);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

button:hover {
  background-color: var(--color-secundario);
}

button:disabled {
  background-color: #cccccc;
  border-color: #cccccc;
  cursor: not-allowed;
}
